/**
 * Utility CSS.
 */

.rt-d-flex {
	@extend %d-flex;
}

.rt-flex-wrap {
	@extend %flex-wrap;
}

.rt-justify-content-center {
	@extend %justify-content-center;
}

.rt-align-items-center {
	@extend %align-items-center;
}

.rt-primary-color {
	@extend %primary-color;
}

.rt-primary-color-bg {
	@extend %primary-color-bg;
}

// .rt-secondary-color {
// 	@extend %secondary-color;
// }

// .rt-secondary-color-bg {
// 	@extend %secondary-color-bg;
// }

.rt-white-color {
	@extend %white-color;
}

.rt-white-color-bg {
	@extend %white-color-bg;
}
.rt-black-color {
	@extend %black-color;
}

.rt-black-color-bg {
	@extend %black-color-bg;
}

// .rt-default-gutter {
// 	@extend %default-gutter;
// }

// .rt-gutter-half {
// 	@extend %gutter-half;
// }

.rt-mb-0 {
	@extend %mb-0;
}

.rt-static-content {
	@extend %relative-content;
}

.rt-relative-content {
	@extend %relative-content;
}

.rt-absolute-content {
	@extend %relative-content;
}

/*======================================
// pre-loader
=====================================*/
#preloader {
	background: url("../../media/preloader.gif") rgba(255, 255, 255, 0.99) no-repeat scroll center center;
	height: 100%;
	left: 0;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
}

/*======================================
// Back-to-top
=====================================*/

.back-to-top-wrap {
	position: relative;
	z-index: 99;
}

#back-to-top {
	color: $color-black;
	background-color: $color-secondary;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	z-index: 99;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	margin-left: 15px;
	svg {
		color: $color-black;
	}
}


