/**
 * Layout - Footer.
 */

.footer-1 {
    background-image: linear-gradient(to top, rgba(237, 251, 250, 0.00) 0%, #EDFBFA 100%);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    .footer-top {
        padding: 50px 0;
        z-index: 1;
        position: relative;
        @include media-only ("sm", min) {
            padding: 100px 0;
        }
        @include media-only ("lg", min) {
            padding: 120px 0 320px;
        }
    }
    &.style-2 {
        background-image: none;
        background-color: $color-black;
        .rt-shape {
            li {
                position: absolute;
                &:nth-child(1) {
                    top: 100px;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 0;
                    right: 0;
                }
                &:nth-child(3) {
                    bottom: 0;
                    right: 0;
                    animation:  move1 3s linear infinite;
                }
            }
        }
        .footer-top {
            padding-bottom: 75px;
            z-index: 1;
            .footer-link {
                ul {
                    li {
                        .link {
                            color: #7B8798;
                            &::after {
                                background-color: $color-white;
                            }
                            &:hover {
                                color: $color-white;
                            }
                        }
                    }
                }
            }
            .footer-newsletter {
                position: relative;
                &::after {
                    content: "";
                    height: 500px;
                    width: 100%;
                    position: absolute;
                    border-left: 1px solid #0E2748;
                    top: -120px;
                    left: -40px;
                    display: none;
                    @include media-only ("lg", min) {
                        display: block;
                    }
                }
                .input-group {
                    &::before {
                        content: url(../../media/shape/sms.svg);
                    }
                    .form-control {
                        border: 1px solid rgba(255, 255, 255, .2);
                        border-bottom: 0;
                        background: linear-gradient(180deg, #0B2241 0%, #061B37 100%);
                        box-shadow: 8px 8px 40px 0px rgba(0, 0, 0, 0.30);
                    }
                    .btn-outline-secondary {
                        background-color: $color-primary;
                    }
                }
                .item-social {
                    ul {
                        li {
                            a {
                                border: 1px solid #203552;
                            }
                            &.text {
                                color: $color-white;
                            }

                        }
                    }
                }
            }
            .rt-shape {
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
            }
        }
        .footer-bottom {
            border-top: 1px solid #0E2748;
            padding: 20px 0;
            .text {
                color: #7B8798;
            }
        }
    }
    &.style-3 {
        position: relative;
        z-index: 1;
        .rt-shape {
            li {
                position: absolute;
                &:nth-child(1) {
                    bottom: 0;
                    left: -50px;
                    top: auto;
                    opacity: .06;
                }
                &:nth-child(2) {
                    top: -20%;
                    right: -50px;
                    opacity: .06;
                }
            }
        }
        .star-bg {
            position: absolute;
            top: 0;
            left: 0;
            opacity: .2;
            z-index: -1;
        }
        .footer-top {
            @include media-only ("lg", min) {
                padding-top: 217px;
            }
            .footer-newsletter {
                &::after {
                    display: none;
                }
            }
        }
    }
    &.style-4 {
        position: relative;
        z-index: 1;
        .star-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }

        .footer-top {
            @include media-only ("lg", min) {
                padding: 120px 0 220px;
            }
        }
        &::before {
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(to top, rgba(237, 251, 250, 0.50) 0%, #04BCAF 100%);
            opacity: .15;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        .footer-bottom {
            background-color: $color-white;
            .text {
                color: $color-body;
                a {
                    color: $color-primary;
                    &::before {
                        background-image: url(../../media/footer/footer-bottom-shape-3.svg);
                    }
                }
            }
        }
    }
    .footer-bottom-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}

.rt-shape {
    display: none;
    @include media-only ("lg", min) {
        display: block;
    }
    li {
        position: absolute;
        &:nth-child(1) {
            bottom: 20px;
            left: 85px;
            animation:  move1 3s linear infinite;
        }
        &:nth-child(2) {
            bottom: 20px;
            right: 30px;
            animation:  move1 3s linear infinite;
        }
    }
}

.rt-shape-2 {
    display: none;
    @include media-only ("lg", min) {
        display: block;
    }
    li {
        position: absolute;
        z-index: -1;
        &:nth-child(1) {
            top: 160px;
            left: 60px;
            animation: moveclouds 40s linear infinite;
        }
        &:nth-child(2) {
           left: 0;
           bottom: 0;
        }
        &:nth-child(3) {
            // right: 90px;
            top: 50px;
            animation: moveclouds 45s linear infinite;
        }
        &:nth-child(4) {
            right: 0;
            bottom: 100px;
        }
    }
}

.rt-star-shape {
    display: none;
    @include media-only ("lg", min) {
        display: block;
    }
    li {
        position: absolute;
        z-index: -1;
        &:nth-child(1) {
            top: 50px;
            left: 50px;
            svg {
                color: $color-primary;
                animation: scale-up-one 2s infinite linear;
            }
        }
        &:nth-child(2) {
           left: 125px;
           top: 250px;
           svg {
                color: $color-yellow-500;
                animation: scale-up-one 4s infinite linear;
            }
        }
        &:nth-child(3) {
            left: 406px;
            bottom: 75px;
            z-index: 1;
            svg {
                color: #FFB2D5;
                animation: scale-up-one 6s infinite linear;
            }
        }
        &:nth-child(4) {
            left: 43%;
            bottom: 230px;
            z-index: 1;
            svg {
                color: $color-primary;
                animation: scale-up-one 2s infinite linear;
            }
        }
        &:nth-child(5) {
            right: 15%;
            bottom: 100px;
            z-index: 1;
            svg {
                color: #FAB400;
                animation: scale-up-one 4s infinite linear;
            }
        }
        &:nth-child(6) {
            right: 160px;
            top: 165px;
            svg {
                color: #FEE9A4;
                animation: scale-up-one 6s infinite linear;
            }
        }
    }
}

.rt-cloud-shape {
    display: none;
    @include media-only ("lg", min) {
        display: block;
    }
    ul {
        li {
            position: absolute;
            &:nth-child(1) {
                bottom: 0;
                left: 10px;
            }
            &:nth-child(2) {
                bottom: 0;
                left: 21%;
            }
            &:nth-child(3) {
                bottom: 0;
                right: 31%;
            }
            &:nth-child(4) {
                bottom: 0;
                right: 10px;
            }
            &:nth-child(5) {
                top: 50px;
                left: 30%;
                animation: moveclouds 30s linear infinite;
                z-index: -1;
            }
            &:nth-child(6) {
                right: 85px;
                top: 30%;
                animation: moveclouds 40s linear infinite;
                z-index: -1;
            }
            &:nth-child(7) {
                left: 30px;
                bottom: 52%;
                animation: moveclouds 30s linear infinite;
                z-index: -1;
            }
        }
    }
}

.rt-parasuit-shape {
    display: none;
    @include media-only ("1441px", min) {
        display: block;
    }
    ul {
        li {
            position: absolute;
            &:nth-child(1) {
                bottom: 40%;
                left: 60px;
                animation: move1 3s linear infinite;
                
            }
            &:nth-child(2) {
               top: 60px;
               right: 110px;
               animation:  move1 3s linear infinite;
            }
            &:nth-child(3) {
                bottom: 120px;
                left: 50%;
                animation:  move1 3s linear infinite;
            }
        }
    }
}



.footer-link {
    ul {
        li {
            position: relative;
            &:last-child {
                .link {
                    margin-bottom: 0;
                }
            }
            .link {
                position: relative;
                color: $color-body;
                transition: all .4s ease;
                margin-bottom: 15px;
                font-size: 18px;
                font-weight: $font-medium;
                &:hover {
                    &::after {
                        width: 100%;
                        left: 0;
                        opacity: 1;
                    }
                }
                &::after {
                    content: "";
                    height: 1px;
                    width: 0;
                    background-color: $color-black;
                    position: absolute;
                    bottom: 1px;
                    right: 0;
                    opacity: 0;
                    transition: .5s;
                }
                &:hover {
                    color: $color-black;
                }
            }
        }
    }
}

.footer-newsletter {
    p {
        color: $color-base;
        margin-bottom: 25px;
        font-weight: $font-medium;
        font-size: 18px;
    }
}



.footer-bottom {
    @include media-only ("sm", min) {
        padding: 20px 0;
    }
    .text {
        color: $color-white;
        font-size: 18px;
        font-weight: $font-medium;
        a {
            color: $color-white;
            transition: all .3s ease-in-out;
            position: relative;
            &::before {
                content: "";
                height: 100%;
                width: 100%;
                background-image: url(../../media/footer/footer-bottom-shape-2.svg);
                background-repeat: no-repeat;
                background-position: bottom;
                position: absolute;
                bottom: -1px;
                transition: all .3s ease-in-out;
            }
        }
    }
}



.footer-widget-title {
    font-family: $font-title;
    font-weight: $font-bold;
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 18px;
    color: $color-black;
    line-height: 120%;
    position: relative;
    &::before {
        content: "";
        height: 4px;
        width: 30px;
        background-color: $color-primary;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &.style-2 {
        color: $color-white;
        &::before {
            background-color: $color-secondary;
        }
    }
}

.footer-center-bottom-shape {
    margin-top: 30px;
    .roket-shape {
        bottom: 0;
        left: 43%;
        transform: translateX(-50%);
        img {
            animation: move 2s ease infinite;
        }
    }
}

.footer-logo-desc {
    font-size: 18px;
    font-weight: $font-medium;
}

.rtf-contact {
    a {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 8px;
        &:hover {
            .icon {
                background-color: $color-primary;
                overflow: hidden;
                svg {
                    color: $color-white;
                    animation: toBottomFromTop 0.5s forwards;
                }
            }
            .number {
                color: $color-primary;
            }
        }
        .icon {
            height: 32px;
            width: 32px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $color-white;
            border-radius: 50%;
            transition: all .3s ease-in-out;
            svg {
                color: $color-primary;
                transition: all .3s ease-in-out;
            }
        }
        .number {
            color: $color-body;
            font-weight: $font-medium;
            transition: all .3s ease-in-out;
            font-size: 18px;
        }
    }
}



