
.testimonial-wrap {
    // padding: 110px 0 120px;
    @include media-only ("lg", min) {
        padding: 110px 0 120px;
    }
    .section-heading {
        @include media-only ("lg", min) {
            width: 570px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.testimonial-box {
    border: 1px solid $color-gray-line;
    background-color: $color-white;
    padding: 40px 40px 30px;
    border-radius: 16px;
    &:hover {
        .item-img {
            .shape-icon {
                i {
                    transform: rotateY(360deg);
                }
            }
        }
    }
    .item-img {
        margin-bottom: 30px;
        position: relative;
        display: inline-block;
        img {
            border-radius: 50%;
            filter: grayscale(100%);
            border: 1px solid $color-blue-50;
            padding: 4px;
            transition: all .3s ease-in-out;
        }
        .shape-icon {
            height: 36px;
            width: 36px;
            background-color: $color-primary;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 36px;
            position: absolute;
            bottom: 0;
            right: 0;
            border: 2px solid $color-white;
            box-shadow: 4px 4px 16px rgba(1, 104, 111, .1);
            i {
                color: $color-white;
                transition: all 1s ease;
                font-size: 12px;
            }
        }
    }
}

.testimonial-content {
    .star-icon {
        margin-bottom: 15px;
        ul {
            gap: 1px;
            li {
                i {
                    color: $color-secondary;
                    font-size: 18px;
                }
            }
        }
    }
    .quote {
        color: $color-black;
        font-weight: $font-medium;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .author-wrap {
        border-top: 1px solid $color-blue-50;
        padding-top: 20px;
        .name {
            font-size: 20px;
            font-weight: $font-bold;
            color: $color-primary;
            text-transform: uppercase;
        }
        .designation {
            font-weight: $font-semibold;
            text-transform: uppercase;
        }
    }
}

.swiper-slide-active {
    .testimonial-box {
        border: 0;
        .item-img {
            img {
                filter: grayscale(0);
            }
        }
    }
}