
.nav-tabs {
    border-bottom: 0;
    justify-content: center;
    flex-wrap: nowrap;
    .nav-item {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        .nav-link {
            background-color: transparent;
            border-radius: 6px;
            border: 1px solid $color-gray-line;
            height: 36px;
            width: 36px;
            display: inline-block;
            text-align: center;
            line-height: 18px;
            padding: 0;
            i {
                color: $color-body;
            }
            &:focus {
                outline: 0;
                box-shadow: none;
            }
            &.active {
                background-color: $color-primary;
                border-color: $color-primary;
                i {
                    color: $color-white;
                }
            }
        }
    }
}