/**
 * Components: Contact.
 */

 .contact-form-style-1 {
    .form-group {
        margin-bottom: 30px;
        position: relative;
        .rt-form-control {
			background-color: transparent;
            border: 1px solid $color-gray-line;
            border-radius: $border-radius-sm;
            height: 60px;
            color: $color-black;
            font-weight: $font-medium;
            padding: 0;
            padding-left: 50px;
            &:focus {
                outline: 0;
                box-shadow: none;
                border-color: $color-black;
            }
        }
        .icon-shape {
            position: absolute;
            top: 18px;
            left: 32px;
            z-index: 5;
            svg {
                color: $color-primary;
            }
        }
        .rt-textarea {
            min-height: 140px;
            resize: none;
            padding-top: 20px;
        }
        &.style-2 {
            .icon-shape {
                top: 20px;
            }
        }
        &.style-3 {
            .rt-textarea {
                min-height: 246px;
            }
        }
    }
  
    .submit-btn {
        border-radius: 50px;
		color: $color-white;
		background-color: $color-primary;
		text-align: center;
		display: inline-block;
		padding: 16px 35px;
		transition: all .3s ease-in-out;
		font-weight: $font-semibold;
        font-size: 18px;
        border: 0;
        &:hover {
            color: $color-white;
            background-color: #018f85;
        }
		&:focus {
            outline: 0;
            box-shadow: none;
        }
    }
}




.contact-map-wrap {
    .map-area {
        iframe {
            width: 100%;
            filter: grayscale(100%);
        }
        .location-img {
            top: 180px;
            right: 0;
            left: 0;
            text-align: center;
            animation: move 2s ease infinite;
            &.style-2 {
                top: 320px;
                left: 35%;
                right: auto;
            }
        }
    }
}

.contact-hour-box {
    border-radius: 16px;
    background-color: $color-white;
    padding: 40px;
    padding-bottom: 105px;
    @include media-only ("lg", min) {
        padding: 40px 60px 135px;
    }
    .heading-top {
        .title {
            font-weight: $font-bold;
            margin-bottom: 1.3;
            margin-bottom: 0;
            font-size: 30px;
            @include media-only ("xs", min) {
                font-size: 36px;
            }
        }
        .contact-button {
            a {
                background-color: $color-primary;
                color: $color-white;
                padding: 10px 20px 10px 30px;
                display: inline-block;
                text-align: center;
                font-weight: $font-semibold;
                border-radius: 50px;
                line-height: 1;
                position: relative;
                transition: all .3s ease-in-out;
                &:hover {
                    background-color: #018f85;
                    color: $color-white;
                }
                &::after {
                    content: "";
                    height: 8px;
                    width: 8px;
                    background-color: $color-white;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 15px;
                }
            }
        }
    }
    p {
        border-bottom: 1px solid $color-gray-line;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .time-list {
        li {
            line-height: 45px;
            &:hover {
                .list {
                    color: $color-primary;
                    &::after {
                        height: 14px;
                        opacity: 1;
                        visibility: visible;    
                    }
                    .time {
                        color: $color-primary;
                        &.rt-off {
                            color: $color-primary;
                        }
                    }
                }
            }
            .list {
                font-size: 18px;
                font-weight: $font-medium;
                color: $color-body;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                transition: all .4s ease;
                max-width: 382px;
                @include media-only (321px, max) {
                    display: block;
                }
                @include media-only ("xs", min) {
                    font-size: 20px;
                    font-weight: $font-semibold;
                }
                &::after {
                    content: "";
                    height: 0;
                    width: 4px;
                    background-color: $color-primary;
                    border-radius: 2px;
                    position: absolute;
                    top: 50%;
                    left: -10px;
                    transform: translateY(-50%);
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s ease;
                }
                .time {
                    transition: all .4s ease;
                    @include media-only (321px, max) {
                        margin-left: 10px;
                    }
                    &.rt-off {
                        color: $color-red-500;
                        @include media-only ("lg", min) {
                            padding-right: 25%;
                        }
                    }
                }
            }
        }
    }
    &.style-2 {
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding: 30px;
        box-shadow: -20px 24px 60px 0px rgba(0, 0, 0, 0.16);
        @include media-only ("sm", min) {
            width: 428px;
        }
        @include media-only ("lg", min) {
            right: 20%;
            padding: 33px 50px;
            width: 428px;
        }
        p {
            font-size: 16px;
        }
        .time-list {
            li {
                a {
                    .time {
                        &.rt-off {
                            @include media-only ("lg", min) {
                                padding-right: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contact-touch-wrap {
    padding: 100px 0 0 0;
    .section-heading {
        @include media-only ("lg", min) {
            width: 570px;
        }
    }
}
.contact-touch-box {
    padding: 40px;
    background-color: $color-white;
    border-radius: 16px;
    @include media-only ("lg", min) {
        padding: 45px 60px 60px;
    }
    .title {
        font-weight: $font-bold;
        margin-bottom: 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        @include media-only ("xs", min) {
            font-size: 36px;
            line-height: 1.5;
        }
    }
    p {
        margin-bottom: 20px;
    }
}


.contact-card-layout {
    border-radius: 16px;
    background-color: $color-white;
    padding: 40px;
    @include media-only ("lg", min) {
        padding: 45px 60px 60px;
    }
    .title {
        font-size: 30px;
        font-weight: $font-bold;
        margin-bottom: 0;
        line-height: 1.2;
        @include media-only ("xs", min) {
            font-size: 36px;
            line-height: 1.5;
        }
    }
    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .contact-card-box {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.contact-card-box {
    border: 1px solid $color-gray-line;
    border-radius: $border-radius-md;
    padding: 25px;
    background-color: $color-white;
    gap: 20px;
    transition: all .3s ease-in-out;
    @include media-only ("md", min) {
        padding: 35px 40px 30px;
        gap: 30px;
    }
    &:hover {
        box-shadow: 20px 60px 56px 0px rgba(0, 61, 56, 0.08);
        border-color: $color-white;
        .icon {
            background-color: $color-secondary;
            svg {
                color: $color-white;
                animation: toBottomFromTop .5s forwards;
            }
        }
    }
    .icon {
        height: 52px;
        width: 52px;
        border-radius: 52px;
        background-color: #FFF8F0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        overflow: hidden;
        @include media-only (321px, min) {
            height: 72px;
            width: 72px;
            border-radius: 72px;
        }
        svg {
            color: $color-secondary;
            transition: all .3s ease-in-out;
            height: 22px;
            @include media-only (321px, min) {
                height: 32px;
            }
        }
    }
    .content {
        flex: 1;
        .rt-phn-box {
            .phone {
                color: $color-black;
                font-size: 18px;
                font-weight: $font-semibold;
                line-height: 150%;
                transition: all .4s ease-in-out;
                @include media-only (321px, min) {
                    font-size: 20px;
                }
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}


  
/*rt-contact-form*/
  
.rt-contact-form {
    .form-response {
        .alert {
            margin-top: 1rem;
            p {
                margin-bottom: 0;
            }
        }
    }
}


