

.cart-action {
    gap: 12px;
    &.style-2 {
        gap: 20px;
    }
}

.select-option {
    a {
		background-color: $color-primary;
		display: inline-flex;
        align-items: center;
        justify-content: center;
		padding: 10px 20px;
		transition: all .3s ease-in-out;
		position: relative;
		overflow: hidden;
		font-weight: $font-medium;
		border: 0;
        border-radius: 50px;
        font-size: 16px;
        color: $color-white;
        &:hover {
            .shape {
                animation: toBottomFromTop 0.5s forwards;
            }
        }
        .shape {
            color: $color-white;
            margin-right: 6px;
            transition: all .4s ease-in-out;
            display: none;
            @include media-only ("321px", min) {
                display: block;
            }
        }
    }
}

.rt-cart {
    a {
        height: 40px;
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e7e7e7;
        border-radius: 50px;
        overflow: hidden;
        &:hover {
            .shape {
                animation: toBottomFromTop 0.5s forwards;
                color: $color-primary;
            }
        }
        .shape {
            color: $color-body;
            transition: all .4s ease-in-out;
        }
    }
}