.text-box {
    .subtitle {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: $font-semibold;
        margin-bottom: 10px;
        display: inline-block;
    }
    .title {
        color: $color-white;
        font-size: 48px;
        font-weight: $font-bold;
        line-height: 120%;
    }
    p {
        color: $color-white;
        font-size: 18px;
    }
    &.style-2 {
        margin-bottom: 30px;
        .title {
            color: $color-black;
            margin-bottom: 20px;
            font-size: 30px;
            line-height: 1.2;
            @include media-only ("xs", min) {
                font-size: 36px;
                line-height: 1.5;
            }
        }
        p {
            color: $color-body;
        }
    }
}
