/*------------------- toBottomFrom Animation -------------------*/
@keyframes toBottomFromTop {
    49% {
      transform: translateY(-100%);
    }
    50% {
      opacity: 0;
      transform: translateY(100%);
    }
    51% {
      opacity: 1;
    }
}

/*------------------- toRightFrom Animation -------------------*/

// @keyframes toRightFromLeft {
// 	49% {
// 	  	transform: translateX(100%);
// 	}
// 	50% {
// 	  	opacity: 0;
// 	  	transform: translateX(-100%);
// 	}
// 	51% {
// 	  	opacity: 1;
// 	}
// }



/*------------------- Scale-Up Animation -------------------*/

@keyframes scale-up-one {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
    }
}

/*------------------- Move Cloud Animation -------------------*/

@keyframes moveclouds {
    0% {
        margin-left: 2000px;
    }
    100% {
        margin-left: -2000px;
    }
}

/*------------------- Move Animation -------------------*/

@keyframes move {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}

/*------------------- Move1 Animation -------------------*/

@keyframes move1 {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-10px);
	}
	100% {
        transform: translateY(-20px);
    }
}

@keyframes move2 {
  0% {
      transform: translateX(-20px);
  }
  50% {
      transform: translateX(-10px);
}
100% {
      transform: translateX(-20px);
  }
}

/*------------------- dash Animation -------------------*/

@keyframes dash-animation {
	0% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 100%;
	}
}



/*------------------- Circle Animation -------------------*/

@keyframes rt-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------------- Circle Animation -------------------*/

@keyframes rt-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
