
.icon-big-user:before { content: '\e800'; } /* '' */
.icon-cart:before { content: '\e801'; } /* '' */
.icon-chat-alt:before { content: '\e802'; } /* '' */
.icon-compare:before { content: '\e803'; } /* '' */
.icon-delivery-car:before { content: '\e804'; } /* '' */
.icon-earphone:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-grid:before { content: '\e807'; } /* '' */
.icon-help:before { content: '\e808'; } /* '' */
.icon-instra:before { content: '\e809'; } /* '' */
.icon-linkin:before { content: '\e80a'; } /* '' */
.icon-list:before { content: '\e80b'; } /* '' */
.icon-list-2:before { content: '\e80c'; } /* '' */
.icon-location-big:before { content: '\e80d'; } /* '' */
.icon-love:before { content: '\e80e'; } /* '' */
.icon-message:before { content: '\e80f'; } /* '' */
.icon-message-big:before { content: '\e810'; } /* '' */
.icon-message-square:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e812'; } /* '' */
.icon-phone-big:before { content: '\e813'; } /* '' */
.icon-play:before { content: '\e814'; } /* '' */
.icon-quote-small:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e816'; } /* '' */
.icon-send-alt:before { content: '\e817'; } /* '' */
.icon-smartphone:before { content: '\e818'; } /* '' */
.icon-star-1:before { content: '\e819'; } /* '' */
.icon-subject:before { content: '\e81a'; } /* '' */
.icon-twitter:before { content: '\e81b'; } /* '' */
.icon-user:before { content: '\e81c'; } /* '' */
.icon-user-alt:before { content: '\e81d'; } /* '' */
.icon-view:before { content: '\e81e'; } /* '' */
.icon-wishlist:before { content: '\e81f'; } /* '' */
.icon-youtube:before { content: '\e820'; } /* '' */
.icon-angle-down:before { content: '\e821'; } /* '' */
.icon-angle-left:before { content: '\e822'; } /* '' */
.icon-angle-right:before { content: '\e823'; } /* '' */
.icon-arrow-left:before { content: '\e824'; } /* '' */
.icon-arrow-right:before { content: '\e825'; } /* '' */
.icon-back-to-top:before { content: '\e826'; } /* '' */
