
.icon-phone:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-quote-2:before { content: '\e802'; } /* '' */
.icon-routing:before { content: '\e803'; } /* '' */
.icon-search-2:before { content: '\e804'; } /* '' */
.icon-security:before { content: '\e805'; } /* '' */
.icon-small-ship:before { content: '\e806'; } /* '' */
.icon-small-truck:before { content: '\e807'; } /* '' */
.icon-storage:before { content: '\e808'; } /* '' */
.icon-support:before { content: '\e809'; } /* '' */
.icon-surface1:before { content: '\e80a'; } /* '' */
.icon-tracking:before { content: '\e80b'; } /* '' */
.icon-train:before { content: '\e80c'; } /* '' */
.icon-train-cargo:before { content: '\e80d'; } /* '' */
.icon-truck:before { content: '\e80e'; } /* '' */
.icon-air-flight:before { content: '\e80f'; } /* '' */
.icon-air-freight:before { content: '\e810'; } /* '' */
.icon-cargo-ship:before { content: '\e811'; } /* '' */
.icon-convert-3d-cube:before { content: '\e812'; } /* '' */
.icon-delivery:before { content: '\e813'; } /* '' */
.icon-gps:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
